{% extends "base.html" %}
{% block head %}
    <title>event-Ilabharatham</title>
{% endblock %}}
{% block menu %}
                            <li><a href="/home">Home</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/gallery/">Gallery</a></li>
                            <li><a href="/contact/">Contact</a></li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/forum/">Forum</a></li>
                                    <li><a href="/blog/">Blog</a></li>
                                    <li><a href="/event/">Event</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Organize</li>
                                    <li><a href="/create/event">Start An Event</a></li>
                                    <li><a href="/create/blog">Write A Blog</a></li>
                                </ul>
                            </li>
{% endblock %}
{% block container %}                  
<div class="row">

    <div class="span9">

    </div>
        <div class="span3 pull-right">
        <blockquote><p>Ilabharatam was born not just out of curiosity but out off concern to help the under priviledged people in the society.Its emphasis is to ensure that every child gets a proper life with good benefits. It strives for the welfare of the differently abled children and nurtures them in all possible ways so as to make them independent.</p></blockquote>
    </div>
</div> 



            <div class="row">
                <div class="span2">
                    <h2>Who Are We</h2>
                    <p>Ilabharatam was born not just out of curiosity but out off concern to help the under priviledged people in the society.Its emphasis is to ensure that every child gets a proper life with good benefits. It strives for the welfare of the differently abled children and nurtures them in all possible ways so as to make them independent. </p>
                    
                    <p>Though started by a bunch of youngsters, we believe that Every journey starts with a first step, trying to make a change in the nation and an impact only when we are supported and encouraged by the people around us with the skill that they profess so as to educate the children, by giving out their valuable time to express their love.We are also in need of your support ,time, money, skills and so on as we all know "Unity Is Strength" always so as to fulfill our mission.</p>



                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                <div class="span7">
                    
<!-- the posts and comments -->

                    <div class="span6 row">
                    <h2>Heading4</h2>
                    <img src="/static/img/events/e1.jpg" class="pull-right span2 img-polaroid">
                    <p>Though started by a bunch of youngsters, we believe that Every journey starts with a first step, trying to make a change in the nation and an impact only when we are supported and encouraged by the people around us with the skill that they profess so as to educate the children, by giving out their valuable time to express their love.We are also in need of your support ,time, money, skills and so on as we all know "Unity Is Strength" always so as to fulfill our mission.</p>
                    <p>Ilabharatam was born not just out of curiosity but out off concern to help the under priviledged people in the society.Its emphasis is to ensure that every child gets a proper life with good benefits. It strives for the welfare of the differently abled children and nurtures them in all possible ways so as to make them independent. </p>
                                        <h4>Comments</h4>
                    <blockquote>was born not just out of curiosity but out off concern to help the under priviledged people in the society.Its emphasis is to ensure that every child gets a proper life with good benefits.<small>cyborg</small></blockquote>
                    <blockquote>Ilabharatam was born not just out of curiosity but out off concern to help the under priviledged people in the society.Its emphasis is to ensure that every child gets a proper life with good benefits.<small>vishnu</small></blockquote>
                    <blockquote>Ilabharatam was born not just out of curiosity but out off concern to help the under priviledged people in the society.Its emphasis is to ensure that every child gets a proper life with good benefits.<small>vishnu</small></blockquote>
                    <blockquote>Ilabharatam was born not just out of curiosity but out off concern to help the under priviledged people in the society.Its emphasis is to ensure that every child gets a proper life with good benefits.<small>vishnu</small></blockquote>
                                                <a href="/Login/" class="btn btn-success pull-right">Sign in <i class="icon-user"></i></a>
<hr>

                    </div>                    
               </div>
                <div class="span3">
                    <h2>Heading3</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>

            <hr>

            <footer>
                <p class="pull-right">
                    <a role="button" href="#Cybergen" data-toggle="modal" class="btn btn-small btn-inverse">
                        <i class="icon-fire icon-white"></i> CyberGen 2013 <i class="icon-fire icon-white"></i></a>
            </footer>

{% endblock %}
{% block script %}
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR',
      pickTime: false
    });
  });
</script>

{% endblock %}